.button {
  padding: 7px 10px;
  font-size: 1rem;
  border-radius: 4px;
  margin: 5px;
  border: none;
}
.outline {
  background-color: transparent;
  color: rgb(255, 255, 255);
  border: 1px solid hsla(0, 0%, 100%, 0.901);
}
.primary {
  background-color: hsla(0, 0%, 100%, 0.901);
  color: black;
}
.primary:hover {
  background-color: white;
}
.outline:hover {
  background-color: white;
  color: black;
}
