.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.product-display {
  width: 100%;
  min-height: 100vh;
  display: flex;
  height: auto;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 5px;
  background-color: rgb(224, 224, 224);
}
.navbar-container {
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0px;
  /* display: none; */
}
.cart-display {
  margin-top: 165px;
  height: 100vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(224, 224, 224);
}
